<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header.html :: header">

<body>
<div class="customJumbotron jumbotron text-center">
    <h2>Login</h2>
</div>
<div class="container">
    <form name="login" action="/login" method="post">
        <br>
        <label for="username">Email:</label>
        <input class="underline" id="username" name="username" type="text">
        <label for="password">Password:</label>
        <input class="underline" id="password" name="password" type="password" required>
        <div class="container">
            <a class="btn btn-success" href="/">Log in</a>
        </div>
    </form>
</div>

<div th:replace="footer.html :: copy"></div>
</body>
</html>